.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        現在のグループ名
      %ul.main-header__left-box__membar-list
        Membar：
        %li.main-header__left-box__membar-list__membar
          name
    =link_to "#" do
      .main-header__edit-btn
        Edit
  .massages
    .massage
      .massage__uppar-info
        %p.massage__uppar-info__talker
          name
        %p.massage__uppar-info__date
          2019/12/23(Mon) 06:00:00
      %p.massage__text
        おはようございます
    .massage
      .massage__uppar-info
        %p.massage__uppar-info__talker
          name
        %p.massage__uppar-info__date
          2019/12/23(Mon) 06:00:00
      %p.massage__text
        おはようございます
    .massage
      .massage__uppar-info
        %p.massage__uppar-info__talker
          name
        %p.massage__uppar-info__date
          2019/12/23(Mon) 06:00:00
      %p.massage__text
        おはようございます
  %form.new-massage
    .input-box
      %input{type: "text",class:"input-box__text",placeholder:"type a massage"}
      %label{class: "input-box__image"}
        =icon('far', 'image')
        %input{type: "file",class: "input-box__image__file"}
    %input{type: "submit",value:"Send",class: "submit-btn"}
      
