.side-bar
  .header
    .header__box
      %h3.header__box__name
        name
      %ul.header__box__lists
        %li.list
          = link_to '#' do
            = icon('fa', 'edit',class: 'icon')
        %li.list
          = link_to '#' do
            = icon('fa', 'cog',class: 'icon')

  .groups
    .group
      .group__name
        グループ名
      .group__message
        メッセージはまだありません
    .group
      .group__name
        グループ名
      .group__message
        メッセージはまだありません
    .group
      .group__name
        グループ名
      .group__message
        メッセージはまだありません
