.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          =link_to "#" do
            =icon('fas','edit')
        %li.side-header__box__menu__edit-user 
          =link_to "#" do
            =icon('fas','cog')
  .side-groups
    =link_to "#",class:"side-groups__group" do
      %p.side-groups__group__name
        グループ名1
      %p.side-gorups__group__latest-message
        メッセージはまだありません

    =link_to "#",class:"side-groups__group" do
      %p.side-groups__group__name
        グループ名2
      %p.side-gorups__group__latest-message
        メッセージはまだありません

