.main-chat {
  width: calc(100% - 300px);
  .header {
    background-color: $white;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .left-header {
      &__title {
        color: #333;
        font-size: $left-header_title;
        margin-top: 35px;
      }
      &__members {
        color: #999;
        display: flex;
        font-size: $left-header_menbars;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
          box-sizing: border-box;
        }
      }
    }
    .right-header {
      border: solid 1px $light_blue;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      &__button{
        color: $light_blue;
        text-decoration: none;

      }
    }
    
  }

  .messages {
    background-color: $white;
    height: calc(100vh - 100px - 90px);
    padding: 40px 35px ;
    box-sizing: border-box;

    .message {
      padding-bottom: 46px;
      .upper-message {
        display: flex;
        padding-bottom: 12px;
        &__user-name {
          color: #434a54;
          font-size: 16px;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        color: #434a54;
        font-size: 14px;
      }
    }

  }
  .form {
    height: 90px;
    box-sizing: border-box;
    background-color: #d2d2d2;
    padding: 20px 40px;
    .new-massage {
      display: flex;
      .input-box {
        width: 100%;
        position: relative;
        padding-right: 10px;
        &__text {
          height: 50px;
          width:100%;
          padding-left: 10px;
          color: #434a54;
        }
        &__image {
          position: absolute;
          top:10px;
          right: 10px;
          font-size:1.3rem;
          &__file {
            display: none;
          }

        }
      }
      .submit-btn{
        height: 50px;
        width: 100px;
        background-color: #38aef0;
        color:white;
        margin-left: 15px;
        padding: 0 30px;
      }
    }  
    
    
  }
}
