.side-bar {
  box-sizing: border-box;
  color: $white;
  width: 300px;

  .header {
    background-color: $side_blue_dark;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box {
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: $side_header_font;
        font-weight: bold;
      }
      &__lists {
        .list {
          margin-left: 5px;
          display: inline-block;
        }
        .icon {
          color: $white;
          font-size: $side_header_font;
        }
     }
    }
  }

  .groups {
    overflow: scroll;
    box-sizing: border-box;
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    a {
      box-sizing: border-box;
      display: block;
      padding-bottom: 40px;
      text-decoration: none;
      color:$white;
      &__name {
        color: $white;
        font-size: $side_group_name;
      }
      &__message {
        color: $white;
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}
