@import "./mixins";

.chat-main{
  @include black-size(100px,calc(100vw - 300px));
  * {
    box-sizing: border-box;
  }

  .main-header{
    @include black-layout(#ffffff,0 40px);
    @include justify-content(space-between);
    &__left-box{
      margin-top:35px;
      &__current-group{
        @include font-layout(#333333,20px);
      }

      ul {
        @include font-layout(#999999,12px);
        display:flex;
        text-decoration:none;
        margin-top:15px;
        
      }
    }

    a {
      display: block;
      text-decoration:none;
      margin-top: 28px;
      .main-header__edit-btn{
        @include black-size(40px,72px);
        @include font-layout(#38aef0,16px);
        line-height: 40px;
        padding: 0px 20px;
        border: solid 1px #38aef0;
        text-align: center;
        text-decoration: none;
      }
    }
  }

  .massages{
    @include black-size(calc(100vh - calc(100px + 90px)));
    @include black-layout(#fafafa,35px 40px);

    .massage{
      margin-bottom: 46px;
      &__uppar-info {
        display: flex;
        margin-bottom: 12px;

        p.massage__uppar-info__talker {
          @include font-layout(#333333,16px);
        }

        p.massage__uppar-info__date {
          @include font-layout(#999999,12px);
          margin-left: 10px;
        }
      }

      p.massage__text {
        @include font-layout(#434A54,14px);
      }
   } 
  }

    
  form {
    @include black-layout(#d2d2d2,20px 40px);
      display: flex;

      .input-box {
        @include black-size(50px,100%);
        width: 100%;
        position: relative;
        &__text {
          @include black-size(50px,100%);
          border-style: none;
          padding-left: 10px;
          color: #434a54;
        }
        &__image {
          position: absolute;
          top:10px;
          right: 10px;
          font-size:1.3rem;
          &__file {
            display: none;
          }
        }
      }

      .submit-btn{
        @include black-size(50px,100px);
        @include black-layout(#38aef0,0 30px);
        @include font-layout(white,100%);
        margin-left: 15px;
      }
  }
}
