.wrapper{
  display:flex;
  height: 100vh;
  width:100vw;

  .side-bar {
    box-sizing: border-box;
    color: #fff;
    width: 300px;
    .header {
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      &__box {
        height: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__name {
          font-size: 16px;
          font-weight: bold;
        }
        &__lists {
          .list {
            margin-left: 5px;
            display: inline-block;
          }
          .icon {
            color: white;
            font-size: 16px;
          }
        }
      }
    }
    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
    }
  }

  .main-chat {
    width: calc(100% - 300px);
    .header {
      background-color: #ffffff;
      height: 100px;
    }

    .messages {
      background-color: #FAFAFA;
      height: calc(100vh - 100px - 90px);
    }

    .form {
      background-color: #DDDDDD;
      height: 90px;
      
    }
  }
}