* {
  box-sizing: border-box;
}

html,body{
  height:100wh;
  width:100vw;
  .wrapper{
    display:flex;
    .chat-side{
      font-weight:bold;
      width:300px;
      color:white;
      .side-header{
        padding:0 20px;
        height:100px;
        display: flex;
        align-items: center;
        background-color:#253141;
        &__box{
          display:flex;
          justify-content: space-between;
          height: 20px;
          width: 100%;
          line-height: 16px;
          ul {
            width: 60px;
            display:flex;
            justify-content:flex-end;
            li {
              margin-left:5px;
              a {
                color:white;
              }
            }
          }
        }
      }
      .side-groups{
        height:calc(100vh - 100px);
        background-color: #2f3e51;
        padding:20px;
        &__group{
          display: block;
          color:white;
          text-decoration:none;
          width: 260px;
          margin-bottom:40px;
          p.side-groups__group__name{
            margin-bottom:5px;
            font-size:15px;
          }
          p.side-gorups__group__latest-message{
            font-size:11px;
          }
        }
      }

    }
    
    .chat-main{
      width:calc(100vw - 300px);
      .main-header{
        height:100px;
        background-color: #ffffff;
      }
      .massages{
        height:calc(100vh - calc(100px + 90px));
        background-color: #fafafa;
      }
      .form{
        height: 90px;
        background-color: #d2d2d2;
      }
    }
  }
}