.wrapper{
  display:flex;
  height: 100vh;
  width:100vw;

  .side-bar {
    box-sizing: border-box;
    color: #fff;
    width: 300px;
    .header {
      background-color: #253141;
      height: 100px;
    }
    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
    }
  }

  .main-chat {
    width: calc(100% - 300px);
    .header {
      background-color: #ffffff;
      height: 100px;
    }

    .messages {
      background-color: #FAFAFA;
      height: calc(100vh - 100px - 90px);
    }

    .form {
      background-color: #DDDDDD;
      height: 90px;
      
    }
  }
}